/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');

body {
  background-color: #ededed;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  text-align: center;
  margin: 20px auto;
  font-size: 1.6em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  overflow: clip;
}

.wrapper > .section {
  flex-grow: 1;
}

.hero {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

#search-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

#search-form input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #00a2ff;
  font-size: 16px;
  margin-bottom: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#search-form button {
  background-color: #00a2ff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#search-form button:hover {
  background-color: #0056b3;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  display: none;
}

.loader-inner {
  display: block;
  width: 50px;
  height: 50px;
  border: 5px solid #ededed;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loader.visible {
  display: block;
}

form{
  width: 50%;
  margin: 0 auto;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
  position: relative;
  bottom: 0;
}

footer .socials {
  max-width: 1200px;
  margin: 0 auto;
}

footer a {
  margin-right: 2em;
  display: inline-block;
}

footer a:last-child {
  margin-right: 0;
}
